// Initially hide the page
body {
  opacity: 0;
  transition: opacity 75ms ease;
}

// Only apply styles if eureka is loaded.
body.eureka-loaded {
opacity: 1;

////// VARIABLES //////

$ahaText: #474747;
$ahaNavBorder: #D5D5D5;
$ahaNavLinkHover: #69BCFF;


/////// TOP NAV ///////

.trial-header,
.top_nav .brand {
  display: none;
}
.top_nav.navbar {
	margin-bottom: 10px;

  .navbar-inner {
    padding-left: 0;
    box-shadow: none;
  }

  li {
    i {
      font-size: 14px;
      padding-right: 2px;
    }
  }
}

#nav-more-items {
  .nav-items {
    display: none;
    position: absolute;
    z-index: 10000;
    background: #FFF;
    border: 1px solid $ahaNavBorder;
  }

  .primary a,
  .secondary a {
    display: block;
    min-width: 120px;
    padding: 8px;
    line-height: 15px;
    color: $ahaText;
    &:hover {
      text-decoration: none;
      color: #FFF;
      background: $ahaNavLinkHover;
    }
  }
  .primary {
    font-weight: bold;
  }
  .secondary {
    font-weight: normal;
  }

  &.expanded {
    .nav-items {
      display: block;
    }
  }
}


//////// CARDS ////////

.card {
  .info {
    // hide ref-ids, dates, and aha score
    &:first-child, .pull-right .item:first-child {
      display: none;
    }
  }

  border: 1px solid #ddd;
}

// card hover
.project-board-container .release .card:hover {
  box-shadow: 0 0 1px #999;

  .name a {
    color: #08C;
    text-decoration: none;
  }
}

.details {
  border: 0;

  // remove ref-id
  .caption {
    display: none;
  }

  // goals and initiatives are for disruptive innovators bringing game-changing technology to the table.
  // and no more aha! score.
  .attribute-pairs {
    li:nth-child(3) {
      display: none;
    }

    .full-line {
      &:nth-child(2), &:nth-child(3) {
        display: none;
      }
    }
  }
}

// user text
.user-content * {
	font-size: 15px;
	line-height: 18px;
}

.user-content p,
.user-content pre {
	margin-bottom: 12px;
}


/// FEATURES BOARD ///

.project-board-container {
	top: 85px;

  .project-board-scroller,
  .parking-lot-scroller {
    position: relative;
    float: left;
    padding-bottom: 20px;
  }

  .release {
    position: relative;
    width: 180px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 10px;

    .heading {
      h4 {
        margin-bottom: 5px;
      }
    }
    .feature {
      display: none;
    }
    .expand-btn {
      position: absolute;
			overflow: hidden;
      display: block;
			top: 0;
			right: 0;
      bottom: 0;
      left: 0;
			line-height: 5000px;
    }
    .collapse-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
      color: #AAA;
      font-size: 16px;
      &:hover {
        color: #555;
        text-decoration: none;
      }
    }

    &.expanded {
      height: auto;
      width: 250px;
      padding: 0;
      margin-right: 10px;
      border: none;

			.heading h4 {
				display: inline-block;
				max-width: 203px;
			}

      .feature {
        display: block;
      }

      .expand-btn {
        display: none;
      }

      .collapse-btn {
        display: block;
      }
    }

		&.collapsed {
			background: #ebedf2;

			&.expand-hover {
				background: #d6e1f9;
			}

			.heading h4 {
				color: #949aa6;
			}

			.add-feature,
			.heading .date {
				display: none;
			}
		}
  }

  .expanded-feature-container {
    float: left;
    &.has-releases {
      padding: 0 20px;
      margin-right: 20px;
      border-right: 1px solid #EEE;
    }
  }

  // Parking lot
  .parking-lot-board, .parking-lot-scroller {
    background-image: none;
  }
  .parking-lot-board {
    width: 100%;
    height: auto;
    padding-top: 15px;
    .expanded-feature-container {
      border-color: #DDD;
    }
  }
  .parking-lot-handle {
    display: none;
  }
  .parking-lot-scroller {
    border: 0;
    top: auto;
    right: auto;
    box-shadow: none;
  }
}


/// PARKING LOT SCROLLING ///
/// lots of these styles have !important because they must overwrite
/// inline styles added via javascript

.release-feature-list {
  min-height: 0px !important;
}

.project-board {
  width: 100% !important;
  height: auto !important;
  padding-top: 15px;
}

.project-board-scroller, .parking-lot-scroller {
  float: left !important;
  width: 100% !important;
  height: auto !important;
}

.parking-lot-handle {
  display: none;
}

.parking-lot-scroller {
  border: 0;
  position: relative;
  top: auto !important;
  right: auto !important;
  box-shadow: none;
}

.parking-lot-board {
  width: 100% !important;
  height: auto  !important;
  padding-top: 15px;
}

// make the background color of the whole container match that of the parking lot
.project-board-container {
  background-color: #eee;
}

// End .eureka_loaded
}
