// Only apply styles if eureka is loaded.
.eureka-loaded {


////// VARIABLES //////

$ahaText: #474747;
$ahaNavBorder: #D5D5D5;
$ahaNavLinkHover: #69BCFF;


/////// TOP NAV ///////

.trial-header,
.top_nav .brand {
  display: none;
}
.top_nav .navbar-inner {
  padding-left: 0;
  box-shadow: none;
}
#nav-more-items {
  .nav-items {
    display: none;
    position: absolute;
    z-index: 10000;
    background: #FFF;
    border: 1px solid $ahaNavBorder;
  }

  .primary a,
  .secondary a {
    display: block;
    min-width: 120px;
    padding: 8px;
    line-height: 15px;
    color: $ahaText;
    &:hover {
      text-decoration: none;
      color: #FFF;
      background: $ahaNavLinkHover;
    }
  }
  .primary {
    font-weight: bold;
  }
  .secondary {
    font-weight: normal;
  }

  &.expanded {
    .nav-items {
      display: block;
    }
  }
}


//////// CARDS ////////

.card {
  .info {
    // hide ref-ids, dates, and aha score
    &:first-child, .pull-right .item:first-child {
      display: none;
    }
  }
  
  border: 1px solid #ddd;
}

// card hover
.project-board-container .release .card:hover {
  box-shadow: none;
  border-top: 1px solid #777 !important;
  border-right: 1px solid #777 !important;
  border-bottom: 1px solid #777 !important;
  .name a {
    color: #08C;
    text-decoration: none;
  }
}

.details {
  border: 0;
  
  // remove ref-id
  .caption {
    display: none;
  }
  
  // goals and initiatives are for disruptive innovators bringing game-changing technology to the table.
  // and no more aha! score.
  .attribute-pairs {
    li:nth-child(3) {
      display: none;
    }
    
    .full-line {
      &:nth-child(2), &:nth-child(3) {
        display: none;
      }
    }
  }
}


/// FEATURES BOARD ///

.project-board-container {
  .project-board-scroller,
  .parking-lot-scroller {
    position: relative;
    float: left;
  }
}

.parking-lot-handle {
  display: none;
}

.parking-lot-scroller {
  border: 0;
  top: auto;
  right: auto;
  box-shadow: none;
}

.parking-lot-board {
  width: 100%;
  height: auto;
  padding-top: 15px;
}


/// PARKING LOT ///

// remove the striped background on the parking lot
.parking-lot-board, .parking-lot-scroller {
  background-image: none;
}


/// PARKING LOT SCROLLING ///
/// lots of these styles have !important because they must overwrite
/// inline styles added via javascript

.release-feature-list {
  min-height: 0px !important;
}
 
.project-board {
  width: 100% !important;
  height: auto !important;
  padding-top: 15px;
}
 
.project-board-scroller, .parking-lot-scroller {
  float: left !important;
  width: 100% !important;
  height: auto !important;
}
 
.parking-lot-handle {
  display: none;
}
 
.parking-lot-scroller {
  border: 0;
  position: relative;
  top: auto !important;
  right: auto !important;
  box-shadow: none;
}
 
.parking-lot-board {
  width: 100% !important;
  height: auto  !important;
  padding-top: 15px;
}
 
// make the background color of the whole container match that of the parking lot
.project-board-container {
  background-color: #eee;
}

// End .eureka_loaded
}
